# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Terraform crash logs
crash.log
crash.*.log

# Azure / local files
*.pem
*.key
*.pfx

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
